@import url("../iconfont/iconfont.css");
html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 0.4rem;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mint-loadmore-text{
  color: #aeaeae;
}
.imageClean {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0.2rem;
  }
.imageClean >div{
    width: 100%;
}

.mint-loadmore{
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }
  .mint-tabbar > .mint-tab-item{
    color: #AAAAAA;
  }
  .mint-swipe-indicator.is-active{
    background: #41cd76;
  }
  .mint-tabbar > .mint-tab-item.is-selected {
    background: #fff;
    color: #5076FF;
  }
  .mint-header-title{
    overflow: visible;
    font-size: .48rem;
  }
  .mintui{
    font-size: 24px;
  }
  .mint-swipe-items-wrap{
    overflow:scroll;
  }
  .mint-header {
    height: 1.173333rem;
    font-size: 16px;
    line-height: none;
    background: -webkit-linear-gradient(left, #6698ff, #5076ff);
  }
  input ,textarea ,button{
    border: none;
    outline: none;
  }
  .anchorBL {
    display: none;
  }